div {
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
 }

 .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
 }

 .navigation-item {
    margin: var(--spacing-1);
  }

  :root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
  
    --border-radius: 12px;
  
    --font-color: #323232;
  }

  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 221, 186);
  }

  section {
    padding: var(--spacing-1) 0;
  }

  button {
    font-size: 14px;
  }

  a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
  }

  .value {
      margin-right: 66px;
  }

  #logo, h1, #price {
      color: rgb(35, 34, 69);
  }

  #price {
      font-size: 40px;
  }

  #dido{
      margin: 17px;
  }